*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	box-sizing: inherit;
}

@media (max-width: 768px) {
	html {
		max-height: 100%;
		margin: 0;
		padding: 0;
	}
}

body {
	font-family: 'Exo 2';
	font-weight: 400;
	font-size: 16px;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: black;
	display: block;
	-webkit-tap-highlight-color: transparent;
}

.green__text {
	color: #1f8e30;
}

#burger {
	display: none;
}

@media screen and (max-width: 768px) {
	.header {
		max-width: 100%;
	}

	.header__burger-btn {
		position: relative;
		width: 40px;
		height: 40px;
		border: none;
		background: #fff;
	}

	#burger {
		display: block;
	}

	.header__burger-btn span {
		position: absolute;
		width: 30px;
		height: 2px;
		background: #000;
		left: 5px;
	}

	.header__burger-btn span:nth-child(1) {
		transform: translateY(-10px);
	}

	.header__burger-btn span:nth-child(3) {
		transform: translateY(10px);
	}

	.main.open {
		display: none;
	}
}

.menu {
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 4px;
	padding-bottom: 10px;
	border-bottom: 1px solid #8a8a8a;
}

.menu__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2%;
	font-size: 87.5%;
}

@media (max-width: 768px) {
	.menu {
		display: flex;
		gap: 0px;
		font-size: 28px;
		& svg {
			transform: scale(1.5);
			margin: 0 10px;
		}
	}

	.menu.open {
		position: fixed;
		display: flex;
		justify-content: center;
		width: 100%;
		z-index: 1;
		background-color: #fff;
		& .menu__list {
			position: fixed;
			transition: 0.6s;
			transform: translateY(154.8%);
		}
		& .content__title {
			z-index: 0;
		}
	}

	.menu.open .header__burger-btn span:nth-child(1) {
		transform: translateY(0) rotate(45deg);
		transition: 0.5s;
	}

	.menu.open .header__burger-btn span:nth-child(2) {
		opacity: 0;
	}

	.menu.open .header__burger-btn span:nth-child(3) {
		transform: translateY(0) rotate(-45deg);
		transition: 0.5s;
	}

	.menu .header__burger-btn span:nth-child(1) {
		transition: 0.5s;
	}

	.menu .header__burger-btn span:nth-child(2) {
		transition: 0.5s;
	}

	.menu .header__burger-btn span:nth-child(3) {
		transition: 0.5s;
	}

	.menu__list {
		position: absolute;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 30px;
		top: -855px;
		width: 100%;
		height: 600px;
		background: #fff;
		transition: 0.9s;
		z-index: 4;
	}

	.menu__item address {
		text-align: center;
		display: flex;
		flex-direction: column;
		gap: 30px;
		left: 0;
		width: inherit;
	}
}

.submenu__list {
	display: flex;
	justify-content: center;
	gap: 7.5%;
	width: 250px;
	align-items: center;
}

.submenu__link:hover {
	color: #827e7d;
	transition: 0.3s;
}

.submenu__link:not(:hover) {
	color: #000;
	transition: 0.3s;
}

@media (max-width: 768px) {
	.submenu__list {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		width: 100%;
		gap: 20px;
		& > .submenu__item {
			width: 100%;
		}
		& .submenu__link {
			width: 400px;
			padding: 10px 0px;
			height: 50px;
		}
		& .submenu__link:hover {
			background-color: #f4f0ef;
			transition: 0.3s;
			color: black;
		}
	}
}

.logo {
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 2.5%;
	width: 300px;
	margin-right: 20px;
}

.logo__text {
	font-size: 87.5%;
	width: 170px;
	line-height: 14px;
	margin-top: 4px;
}

@media (max-width: 768px) {
	.logo__text {
		display: none;
	}

	.logo {
		position: relative;
		z-index: 2;
	}
}

.questions__icons {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	gap: 7px;
	width: 220px;
}

.questions {
	line-height: 17px;
	width: 100px;
}

@media (max-width: 768px) {
	.questions {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 5px;
		width: 800px;
	}

	.questions__icons {
		flex-direction: column;
		gap: 30px;
	}
}

.icons {
	display: flex;
	gap: 5px;
}

.telegram-hover:hover circle {
	fill: #45a5cd;
	transition: 0.3s;
}

.telegram-hover:not(:hover) circle {
	fill: #168fc0;
	transition: 0.3s;
}

.telegram-hover:active circle {
	fill: #12729a;
}

.whats-app-hover:hover circle {
	fill: #57c391;
	transition: 0.3s;
}

.whats-app-hover:not(:hover) circle {
	fill: #2db475;
	transition: 0.3s;
}

.whats-app-hover:active circle {
	fill: #24905e;
}

.submenu__link:not(:hover) {
	color: #000;
	transition: 0.3s;
}

.whats-app-hover:not(:hover) {
	color: #421414;
}

address {
	position: relative;
	left: -90px;
	font-style: normal;
	text-align: right;
	width: 160%;
}

.number {
	font-size: 137.5%;
	font-weight: bold;
	&:hover {
		color: #827e7d;
		transition: 0.3s;
	}
	&:not(:hover) {
		color: #000;
		transition: 0.3s;
	}
}

.mail {
	text-decoration: underline;
	&:hover {
		color: #827e7d;
		transition: 0.3s;
	}
	&:not(:hover) {
		color: #000;
		transition: 0.3s;
	}
}

.my_team {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	gap: 30px;
	margin-bottom: 70px;
}

.my_team__title {
	width: 100%;
	margin-top: 70px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 200%;
	font-weight: 700;
}

.my_team__desc {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 1100px;
	flex-flow: row wrap;
	gap: 20px;
}

@media (max-width: 768px) {
	.my_team {
		margin-bottom: 20px;
	}
}

.my__team_cards {
	width: 280px;
	height: 190px;
	border-radius: 5px;
	border: 1px solid #d9d9d9;
	background-color: #f5f5f5;
	padding: 30px 30px;
}

.my__team_cards p {
	font-size: 100%;
	line-height: 20px;
}

.my_team__our_pict img {
	height: 460px;
	border-radius: 5px, 5px, 0px, 0px;
}

@media (max-width: 768px) {
	.my_team__desc {
		max-width: 500px;
	}
	.my__team_cards {
		max-width: 500px;
	}
	.my_team__our_pict {
		display: none;
	}
}

.administration__help_form {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	background-image: url(/images/bg_help_form.jpg);
	background-size: 1530px;
	background-repeat: no-repeat;
}

.administration_container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
	max-width: 875px;
	padding: 25px 0;
}

@media (max-width: 768px) {
	.administration_container {
		flex-direction: column;
		gap: 0;
		max-width: 300px;
	}

	.administration__help_form {
		background-image: none;
	}
}

.administration__card {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 15px;
	max-width: 250px;
	height: 450px;
	border: 1px solid black;
	text-align: center;
	padding: 20px;
	background-color: #ffffff;
	border: 1px solid #d9d9d9;
}

.administration__image img {
	height: 220px;
}

.administration__name {
	font-size: 112.5%;
}

.administration__desc {
	font-size: 100%;
}

.administration__telephone {
	position: relative;
	left: auto;
	font-size: 100%;
	width: 100%;
	font-weight: bold;
	text-align: center;
	& > a > img {
		height: 16px;
	}
}

.help_form {
	display: flex;
	gap: 10px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 100%;
	height: 450px;
	background-color: #ffffff;
	border: 1px solid #d9d9d9;
}

@media (max-width: 768px) {
	.administration__card {
		max-width: 300px;
		margin-bottom: 20px;
	}
	.help_form {
		max-width: 500px;
	}
}

.help_form__title {
	text-align: center;
	font-size: 100%;
	padding: 30px 10px 10px 10px;
}

.help_form__info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.help_form__info > .help_form__info_desc {
	font-size: 87.5%;
}

.help_form__info_desc > input {
	border: 1px solid #ababab;
	background-color: #ffffff;
	width: 270px;
	height: 50px;
	padding: 20px 15px;
	border-radius: 4px;
	margin: 5px 0px 0px 0px;
}

.help_form__info_desc > input::placeholder {
	color: #cdcdcd;
}

input:required {
	border-color: #cdcdcd;
}

.help_form__button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	& input[value='Записаться на консультацию'] {
		padding: 18px 0;
	}
}

.help_form__button input[type='submit'] {
	width: 270px;
	height: 50px;
	padding: 10px, 0px;
	background-color: #1f8e30;
	border: 0px;
	border-radius: 5px;
	color: #fff;
	font-size: 100%;
	cursor: pointer;
	&:hover {
		background-color: #4ba55b;
		transition: 0.3s;
	}
	&:not(:hover) {
		background-color: #1f8e30;
		transition: 0.3s;
	}
	&:active {
		background-color: #187228;
	}
}

.help_form__agree_desc {
	font-size: 62.5%;
}

.help_form__agree_desc {
	text-align: center;
	width: 270px;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: #767676;
	background-color: #eeeeee;
	border-top: 0.5px solid #8a8a8a;
	width: 100%;
	height: 60px;
	font-size: 75%;
}

@media (max-width: 768px) {
	.footer {
		width: 100%;
	}
}