*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	box-sizing: inherit;
}

@media (max-width: 768px) {
	html {
		max-height: 100%;
		margin: 0;
		padding: 0;
	}

	
}

body {
	font-family: 'Exo 2';
	font-weight: 400;
	font-size: 16px;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: black;
	display: block;
	-webkit-tap-highlight-color: transparent;
}

.green__text {
	color: #1f8e30;
}

#burger {
	display: none;
}

.header {
	border-bottom: 1px solid #8a8a8a;
}


@media screen and (max-width: 768px) {
	.header {
		max-width: 100%;
	}

	#burger {
		display: block;
	}

	.header__burger-btn {
		position: relative;
		width: 40px;
		height: 40px;
		border: none;
		background: #fff;
	}

	.header__burger-btn span {
		position: absolute;
		width: 30px;
		height: 2px;
		background: #000;
		left: 5px;
	}

	.header__burger-btn span:nth-child(1) {
		transform: translateY(-10px);
	}

	.header__burger-btn span:nth-child(3) {
		transform: translateY(10px);
	}

	.main.open {
		display: none;
	}
}

.menu {
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 4px;
	padding-bottom: 10px;
	
}

.menu__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2%;
	font-size: 87.5%;
}

@media (min-width: 427px) and (max-width: 768px) {
	.menu {
		display: flex;
		gap: 0px;
		font-size: 28px;
		max-width: 100%;
		& svg {
			transform: scale(1.5);
			margin: 0 10px;
		}
	}

	.menu.open {
		position: fixed;
		display: flex;
		justify-content: center;
		width: 100%;
		z-index: 1;
		background-color: #fff;
		& .menu__list {
			position: fixed;
			transition: 0.6s;
			transform: translateY(154.8%);
		}
		& .content__title {
			z-index: 0;
		}
	}

	.menu.open .header__burger-btn span:nth-child(1) {
		transform: translateY(0) rotate(45deg);
		transition: 0.5s;
	}

	.menu.open .header__burger-btn span:nth-child(2) {
		opacity: 0;
	}

	.menu.open .header__burger-btn span:nth-child(3) {
		transform: translateY(0) rotate(-45deg);
		transition: 0.5s;
	}

	.menu .header__burger-btn span:nth-child(1) {
		transition: 0.5s;
	}

	.menu .header__burger-btn span:nth-child(2) {
		transition: 0.5s;
	}

	.menu .header__burger-btn span:nth-child(3) {
		transition: 0.5s;
	}

	.menu__list {
		position: absolute;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 30px;
		top: -855px;
		width: 100%;
		height: 600px;
		background: #fff;
		transition: 0.9s;
		z-index: 4;
	}

	.menu__item address {
		text-align: center;
		display: flex;
		flex-direction: column;
		gap: 30px;
		width: inherit;
	}
}

@media (max-width: 426px) {
	.menu {
		display: flex;
		gap: 0px;
		font-size: 22px;
		max-width: 100%;
		& svg {
			transform: scale(1.5);
			margin: 0 10px;
		}
	}

	.menu.open {
		position: fixed;
		display: flex;
		justify-content: center;
		width: 100%;
		z-index: 1;
		background-color: #fff;
		& .menu__list {
			position: fixed;
			transition: 0.6s;
			transform: translateY(154.8%);
		}
		& .content__title {
			z-index: 0;
		}
	}

	.menu.open .header__burger-btn span:nth-child(1) {
		transform: translateY(0) rotate(45deg);
		transition: 0.5s;
	}

	.menu.open .header__burger-btn span:nth-child(2) {
		opacity: 0;
	}

	.menu.open .header__burger-btn span:nth-child(3) {
		transform: translateY(0) rotate(-45deg);
		transition: 0.5s;
	}

	.menu .header__burger-btn span:nth-child(1) {
		transition: 0.5s;
	}

	.menu .header__burger-btn span:nth-child(2) {
		transition: 0.5s;
	}

	.menu .header__burger-btn span:nth-child(3) {
		transition: 0.5s;
	}

	.menu__list {
		position: absolute;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 20px;
		top: -855px;
		width: 100%;
		height: 600px;
		background: #fff;
		transition: 0.9s;
		z-index: 4;
	}

	.menu__item address {
		text-align: center;
		display: flex;
		flex-direction: column;
		gap: 20px;
		left: 5px;
		width: inherit;
	}
}

.submenu__list {
	display: flex;
	justify-content: center;
	gap: 7.5%;
	width: 250px;
	align-items: center;
}

.submenu__link:hover {
	color: #827e7d;
	transition: 0.3s;
}

.submenu__link:not(:hover) {
	color: #000;
	transition: 0.3s;
}

@media (max-width: 768px) {
	.submenu__list {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		width: 100%;
		gap: 20px;
		& > .submenu__item {
			width: 100%;
		}
		& .submenu__link {
			width: 400px;
			padding: 10px 0px;
			height: 50px;
		}
		& .submenu__link:hover {
			background-color: #f4f0ef;
			transition: 0.3s;
			color: black;
		}
	}
}

.logo {
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 2.5%;
	width: 300px;
	margin-right: 20px;
}

.logo__text {
	font-size: 87.5%;
	width: 170px;
	line-height: 14px;
	margin-top: 4px;
}

@media (max-width: 768px) {
	.logo__text {
		display: none;
	}

	.logo {
		position: relative;
		z-index: 2;
	}
}

.questions__icons {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	gap: 7px;
	width: 220px;
}

.questions {
	line-height: 17px;
	width: 100px;
}

@media (max-width: 768px) {
	.questions {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 5px;
		width: 800px;
	}

	.questions__icons {
		flex-direction: column;
		gap: 30px;
	}
}

.icons {
	display: flex;
	gap: 5px;
}

.telegram-hover:hover circle {
	fill: #45a5cd;
	transition: 0.3s;
}

.telegram-hover:not(:hover) circle {
	fill: #168fc0;
	transition: 0.3s;
}

.telegram-hover:active circle {
	fill: #12729a;
}

.whats-app-hover:hover circle {
	fill: #57c391;
	transition: 0.3s;
}

.whats-app-hover:not(:hover) circle {
	fill: #2db475;
	transition: 0.3s;
}

.whats-app-hover:active circle {
	fill: #24905e;
}

.submenu__link:not(:hover) {
	color: #000;
	transition: 0.3s;
}

.whats-app-hover:not(:hover) {
	color: #421414;
}

address {
	position: relative;
	left: -20px;
	font-style: normal;
	text-align: right;
	width: 120%;
}

.number {
	font-size: 137.5%;
	font-weight: bold;
	&:hover {
		color: #827e7d;
		transition: 0.3s;
	}
	&:not(:hover) {
		color: #000;
		transition: 0.3s;
	}
}

.mail {
	text-decoration: underline;
	&:hover {
		color: #827e7d;
		transition: 0.3s;
	}
	&:not(:hover) {
		color: #000;
		transition: 0.3s;
	}
}

.quiz {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 250px;
	height: 630px;
	max-width: 100%;
}

@media (min-width: 427px) and (max-width: 768px) {
	.main {
		display: flex;
		justify-content: center;
		align-items: center;

		height: 800px;
		width: 100%;
	}
	.quiz {
		gap: 50px;
		flex-direction: column;
	}

	.quiz__container {
		max-width: 350px;
	}

	.quiz__progress-bar {
		position: absolute;
		top: 115px;
		width: 400px;
	}

	.quiz__gray-bar {
		width: 500px;
	}

	.quiz__advantages_card {
		width: 350px;
		max-width: 500px;
	}

	.quiz__title_finish {
		margin-left: -80px;
	}
}

.quiz__container {
	display: flex;
	justify-content: center;
	gap: 50px;
	flex-direction: column;
	width: 500px;
	max-height: 1000px;
}

.quiz__gray-bar {
	width: 100%;
	background-color: #d9d9d9;
	border-radius: 5px;
}

.quiz__green-bar {
	width: 20%;
	height: 5px;
	border-radius: 5px;
	background-color: #1e8e31;
	text-align: center;
	line-height: 30px;
	color: white;
}

.quiz__question-number {
	display: block;
	top: -30px;
	position: relative;
	font-size: 87.5%;
	color: black;
}

.quiz__container_title {
	margin-top: 10px;
	margin-bottom: -10px;
}

.quiz__menu {
	display: flex;
	flex-direction: column;
	gap: 15px;
	font-size: 100%;
}

.quiz__menu_item > input {
	border: 1px solid #ababab;
	background-color: #ffffff;
	width: 400px;
	height: 50px;
	padding: 20px 15px;
	border-radius: 4px;
	margin: 5px 0px 0px 0px;
}

.quiz__menu_item > input::placeholder {
	color: #cdcdcd;
}

.quiz__menu_item__answer1 {
	font-weight: bold;
	display: block;
	font-size: 18px;
	margin-bottom: 10px;
}

.quiz__menu_item__example {
	display: block;
	font-size: 14px;
	margin-top: 10px;
}

.help_form__info_desc > input {
	border: 1px solid #ababab;
	background-color: #ffffff;
	width: 400px;
	height: 50px;
	padding: 20px 15px;
	border-radius: 4px;
	margin: 5px 0px 0px 0px;
}

.help_form__info_desc > input::placeholder {
	color: #cdcdcd;
}

input:required {
	border-color: #cdcdcd;
}

.quiz__menu_item__answer5 {
	font-size: 14px;
	margin-bottom: 0;
	font-weight: bold;
	display: block;
	display: block;
	margin-top: 20px;
	margin-bottom: 5px;
}

.quiz__menu_item__radio {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.quiz__menu_item__radio:checked + .quiz__menu_item__answer {
	font-weight: bold;
}

.quiz__menu_item__answer {
	display: inline-flex;
	align-items: center;
	user-select: none;
}

.quiz__menu_item__answer::before {
	content: '';
	display: inline-block;
	width: 1em;
	height: 1em;
	border: 1px solid #adb5bd;
	border-radius: 50%;
	margin-right: 0.5em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
}

.quiz__menu_item__radio:not(:disabled):not(:checked)
	+ .quiz__menu_item__answer:hover::before {
	border-color: #b3d7ff;
}

.quiz__menu_item__radio:not(:disabled):active
	+ .quiz__menu_item__answer::before {
	background-color: #b3d7ff;
	border-color: #b3d7ff;
}

.quiz__menu_item__radio:focus + .quiz__menu_item__answer::before {
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.quiz__menu_item__radio:focus:not(:checked) + .quiz__menu_item__answer::before {
	border-color: #80bdff;
}

.quiz__menu_item__radio:checked + .quiz__menu_item__answer::before {
	border-color: #0b76ef;
	background-image: url('../images/radio.svg');
}

.quiz__menu_item__radio:disabled + .quiz__menu_item__answer::before {
	background-color: #e9ecef;
}

.quiz__buttons {
	position: absolute;
	top: 600px;
	display: flex;
	gap: 20px;
	font-size: 87.5%;
}

@media (max-width: 768px) {
	.quiz__buttons {
		position: static;
	}
}

.quiz__buttons {
	margin: 0;
}

.quiz__buttons_back {
	height: 40px;
	width: 40px;
	background-color: #fff;
	border: 1px solid #1e8e31;
	border-radius: 5px;
	cursor: pointer;
	&:hover {
		filter: brightness(95%);
		transition: 0.3s;
	}

	&:not(:hover) {
		background-color: #fff;
		transition: 0.3s;
	}

	&:active {
		filter: brightness(80%);
		transition: 0.3s;
	}
}

.quiz__buttons_next {
	color: #fff;
	padding: 12px 17px;
	background-color: #1e8e31;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}

.quiz__buttons_next:hover {
	filter: brightness(120%);
	transition: 0.3s;
}

.quiz__buttons_next:not(:hover) {
	filter: brightness(100%);
	transition: 0.3s;
}

.quiz__buttons_next:active {
	filter: grayscale(30%);
}

.quiz__buttons_skip {
	color: #9b9b9b;
	border: none;
	background-color: #fff;
	cursor: pointer;
}

.quiz__buttons_skip:hover {
	filter: brightness(110%);
	transition: 0.3s;
}

.quiz__buttons_skip:not(:hover) {
	filter: brightness(100%);
	transition: 0.3s;
}

.quiz__buttons_skip:active {
	filter: grayscale(100%);
}

.quiz__advantages {
	display: flex;
	flex-direction: column;
	font-size: 93.75%;
	gap: 15px;
}

.quiz__advantages_card {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	padding: 15px;
	border: 1px solid #d9d9d9;
	border-radius: 5px;
}

.quiz__title_finish {
	font-size: 40px;
	text-align: center;
	width: inherit;
}

@media (max-width: 426px) {
	.quiz__menu {
		width: 210px;
	}
	.main {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 800px;
		width: 100%;
	}
	.quiz {
		gap: 50px;
		flex-direction: column;
	}

	.quiz__container {
		max-width: 300px;
	}

	.quiz__container_title {
		width: 300px;
	}

	.quiz__progress-bar {
		position: absolute;
		top: 115px;
		width: 300px;
	}

	.quiz__gray-bar {
		width: inherit;
	}

	.quiz__advantages_card {
		width: 250px;
		max-width: 400px;
	}

	.quiz__title_finish {
		margin-left: 0px;
		font-size: 24px;
		line-height: 40px;
	}
	.quiz__advantages {
		max-width: 400px;
	}
	.quiz__menu_item > input {
	width: 300px;
}
	.help_form__info_desc > input {
		width: 300px;
	}
}

.footer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: #767676;
	background-color: #eeeeee;
	border-top: 0.5px solid #8a8a8a;
	width: 100%;
	height: 60px;
	font-size: 75%;
}

@media (max-width: 768px) {
	.footer {
		width: 100%;
	}
}
