.quiz {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 250px;
	height: 630px;
	max-width: 100%;
}

.quiz__container {
	display: flex;
	justify-content: center;
	gap: 50px;
	flex-direction: column;
	width: 500px;
	height: 500px;
}

.quiz__gray-bar {
	width: 100%;
	background-color: #d9d9d9;
	border-radius: 5px;
}

.quiz__green-bar {
	width: 20%;
	height: 5px;
	border-radius: 5px;
	background-color: #1e8e31;
	text-align: center;
	line-height: 30px;
	color: white;
}

.quiz__question-number {
	display: block;
	top: -30px;
	position: relative;
	font-size: 87.5%;
	color: black;
}

.quiz__container_title {
	margin-top: 10px;
	margin-bottom: -10px;
}

.quiz__menu {
	display: flex;
	flex-direction: column;
	gap: 20px;
	font-size: 100%;
}

.quiz__menu_item__radio {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.quiz__menu_item__radio:checked + .quiz__menu_item__answer {
	font-weight: bold;
}

.quiz__menu_item__answer {
	display: inline-flex;
	align-items: center;
	user-select: none;
}

.quiz__menu_item__answer::before {
	content: '';
	display: inline-block;
	width: 1em;
	height: 1em;
	border: 1px solid #adb5bd;
	border-radius: 50%;
	margin-right: 0.5em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
}

.quiz__menu_item__radio:not(:disabled):not(:checked)
	+ .quiz__menu_item__answer:hover::before {
	border-color: #b3d7ff;
}

.quiz__menu_item__radio:not(:disabled):active
	+ .quiz__menu_item__answer::before {
	background-color: #b3d7ff;
	border-color: #b3d7ff;
}

.quiz__menu_item__radio:focus + .quiz__menu_item__answer::before {
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.quiz__menu_item__radio:focus:not(:checked) + .quiz__menu_item__answer::before {
	border-color: #80bdff;
}

.quiz__menu_item__radio:checked + .quiz__menu_item__answer::before {
	border-color: #0b76ef;
	background-image: url('../images/radio.svg');
}

.quiz__menu_item__radio:disabled + .quiz__menu_item__answer::before {
	background-color: #e9ecef;
}

.quiz__buttons {
	display: flex;
	gap: 20px;
	margin-top: 30px;
	margin-left: 70px;
	font-size: 87.5%;
}

.quiz__buttons_next {
	color: #fff;
	padding: 12px 17px;
	background-color: #1e8e31;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}

.quiz__buttons_next:hover {
	filter: brightness(120%);
	transition: 0.3s;
}

.quiz__buttons_next:not(:hover) {
	filter: brightness(100%);
	transition: 0.3s;
}

.quiz__buttons_next:active {
	filter: grayscale(30%);
}

.quiz__buttons_skip {
	color: #9b9b9b;
	border: none;
	background-color: #fff;
	cursor: pointer;
}

.quiz__buttons_skip:hover {
	filter: brightness(110%);
	transition: 0.3s;
}

.quiz__buttons_skip:not(:hover) {
	filter: brightness(100%);
	transition: 0.3s;
}

.quiz__buttons_skip:active {
	filter: grayscale(100%);
}

.quiz__advantages {
	display: flex;
	flex-direction: column;
	font-size: 93.75%;
	gap: 15px;
}

.quiz__advantages_card {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	padding: 15px;
	border: 1px solid #d9d9d9;
	border-radius: 5px;
}