*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	box-sizing: inherit;
}

body {
	font-family: 'Exo 2';
	font-weight: 400;
	font-size: 16px;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: black;
	display: block;
}

.green__text {
	color: #1f8e30;
}

.menu {
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 4px;
	padding-bottom: 10px;
	border-bottom: 1px solid #8a8a8a;
}

.menu__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2%;
	font-size: 87.5%;
}

.submenu__list {
	display: flex;
	justify-content: center;
	gap: 7.5%;
	width: 250px;
	align-items: center;
}

.submenu__link:hover {
	color: #827e7d;
	transition: 0.3s;
}

.submenu__link:not(:hover) {
	color: #000;
	transition: 0.3s;
}

.logo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2.5%;
	width: 300px;
	margin-right: 20px;
}

.logo__title {
	margin-left: 4%;
	font-size: 175%;
}

.logo__text {
	font-size: 87.5%;
	width: 170px;
	line-height: 14px;
	margin-top: 4px;
}

.questions__icons {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	gap: 7px;
	width: 220px;
}

.questions {
	line-height: 17px;
	width: 100px;
}

.icons {
	display: flex;
	gap: 5px;
}

.telegram-hover:hover circle {
	fill: #45a5cd;
	transition: 0.3s;
}

.telegram-hover:not(:hover) circle {
	fill: #168fc0;
	transition: 0.3s;
}

.telegram-hover:active circle {
	fill: #12729a;
}

.whats-app-hover:hover circle {
	fill: #57c391;
	transition: 0.3s;
}

.whats-app-hover:not(:hover) circle {
	fill: #2db475;
	transition: 0.3s;
}

.whats-app-hover:active circle {
	fill: #24905e;
}

.submenu__link:not(:hover) {
	color: #000;
	transition: 0.3s;
}

.whats-app-hover:not(:hover) {
	color: #421414;
}



address {
	font-style: normal;
	text-align: right;
	width: 120%;
}

.number {
	font-size: 137.5%;
	font-weight: bold;
	&:hover {
		color: #827e7d;
		transition: 0.3s;
	}
	&:not(:hover) {
		color: #000;
		transition: 0.3s;
	}
}

.mail {
	text-decoration: underline;
	&:hover {
		color: #827e7d;
		transition: 0.3s;
	}
	&:not(:hover) {
		color: #000;
		transition: 0.3s;
	}
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	height: 650px;
	background-image: url(/images/bg.png);
	background-position: 200px 0px;
	background-repeat: no-repeat;
	background-size: 100%;
}

.bg-adaptive {
	display: none;
	position: relative;
}

.content {
	margin-left: -110px;
	max-width: 600px;
	flex-direction: column;
	& > a {
		text-align: right;
		margin-top: -190px;
		margin-left: 500px;
		width: 140px;
	}
}

.content__title {
	line-height: 38px;
	font-size: 30px;
}

.content__subtitle {
	font-size: 18px;
	padding: 30px 0;
}

.content__list {
	margin-left: 62px;
}

.content__list__item {
	margin-bottom: 0px;
	line-height: 19px;
}

.content__list__item:nth-child(1) {
	margin-top: -24px;
}

.list__first {
	position: relative;
	left: -73px;
	top: 40px;
	font-size: 212.5%;
}

.marker {
	position: relative;
	height: 20px;
	z-index: 1;
	left: -63px;
	top: 38px;
}

.list__second {
	position: relative;
	left: -73px;
	top: 40px;
	font-size: 212.5%;
}

.btn {
	height: 140px;
	width: 140px;
	font-weight: bold;
	color: white;
	border: 0px;
	background-color: #1f8e30;
	border-radius: 100px;
	cursor: pointer;
	& > a {
		color: white;
	}
	&:hover {
		background-color: #4ba55b;
		transition: 0.3s;
	}
	&:not(:hover) {
		background-color: #1f8e30;
		transition: 0.3s;
	}
	&:active {
		background-color: #187228;
	}
}

.my_team {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	gap: 30px;
	margin-bottom: 70px;
}

.my_team__title {
	width: 100%;
	margin-top: 70px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 200%;
	font-weight: 700;
}

.my_team__desc {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1100px;
	flex-flow: row wrap;
	gap: 20px;
}

.my__team_cards {
	width: 280px;
	height: 190px;
	border-radius: 5px;
	border: 1px solid #d9d9d9;
	background-color: #f5f5f5;
	padding: 30px 30px;
}

.my__team_cards p {
	font-size: 100%;
	line-height: 20px;
}

.my_team__pict {
	margin-top: -5px;
	margin-bottom: 5px;
	height: 35px;
}

.my_team__our_pict img {
	height: 460px;
	border-radius: 5px, 5px, 0px, 0px;
}

.administration__help_form {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 525px;
	background-image: url(/images/bg_help_form.jpg);
	background-size: 1530px;
	background-repeat: no-repeat;
}

.administration_container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
	width: 875px;
	margin-top: -65px;
}

.administration__card {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 15px;
	width: 250px;
	height: 450px;
	border: 1px solid black;
	text-align: center;
	margin-top: 50px;
	padding: 20px;
	background-color: #ffffff;
	border: 1px solid #d9d9d9;
}

.administration__image img {
	height: 220px;
}

.administration__name {
	font-size: 112.5%;
}

.administration__desc {
	font-size: 100%;
}

.administration__telephone {
	font-size: 100%;
	font-weight: bold;
	text-align: center;
	& > a > img {
		height: 16px;
	}
}

.help_form {
	margin-top: 50px;
	display: flex;
	gap: 10px;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 450px;
	background-color: #ffffff;
	border: 1px solid #d9d9d9;
}

.help_form__title {
	text-align: center;
	font-size: 100%;
	padding: 30px 10px 10px 10px;
}

.help_form__info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.help_form__info > .help_form__info_desc {
	font-size: 87.5%;
}

.help_form__info_desc > input {
	border: 1px solid #ababab;
	background-color: #ffffff;
	width: 270px;
	height: 50px;
	padding: 20px 15px;
	border-radius: 4px;
	margin: 5px 0px 0px 0px;
}

.help_form__info_desc > input::placeholder {
	color: #cdcdcd;
}

input:required {
	border-color: #cdcdcd;
}

.help_form__button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	& input[value='Записаться на консультацию'] {
		padding: 18px 0;
	}
}

.help_form__button input[type='submit'] {
	width: 270px;
	height: 50px;
	padding: 10px, 0px;
	background-color: #1f8e30;
	border: 0px;
	border-radius: 5px;
	color: #fff;
	font-size: 100%;
	cursor: pointer;
	&:hover {
		background-color: #4ba55b;
		transition: 0.3s;
	}
	&:not(:hover) {
		background-color: #1f8e30;
		transition: 0.3s;
	}
	&:active {
		background-color: #187228;
	}
}

.help_form__agree_desc {
	font-size: 62.5%;
}

.help_form__agree_desc {
	text-align: center;
	width: 270px;
}

.contacts {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 620px;
	margin-bottom: 30px;
	max-width: 100%;
	background-image: url(./images/contacts_bg.jpg);
	background-repeat: no-repeat;
}

.contacts__container {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	gap: 10px;
}

.contacts__info {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	text-align: left;
	gap: 20px;
	max-width: 50%;
}

.contacts__info_title {
	font-size: 200%;
}

.contacts__info_numbers {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	gap: 5px;
	text-align: left;
	& > span {
		font-size: 100%;
	}
	& > a {
		font-weight: bold;
		font-size: 150%;
		min-width: 300px;
		& > img {
			height: 16px;
		}
	}
}

.contacts__info_address {
	max-width: 315px;
	font-size: 100%;
	& > p {
		margin-top: 8px;
	}
}

.contacts__info_metro-way {
	font-size: 100%;
	background-color: #fafafa;
	max-width: 320px;
	padding: 10px 20px;
	& > .contacts__info_metro-way_list {
		padding-left: 25px;
		& > .metro-way_list-item-green {
			list-style-image: url('../images/green-marker.svg');
			padding: 0px 8px;
		}
		& > .metro-way_list-item-orange {
			list-style-image: url('../images/orange-marker.svg');
			padding: 0px 8px;
		}
		& > .metro-way_list-item-gray {
			list-style-image: url('../images/gray-marker.svg');
			padding: 0px 8px;
		}
		& > .metro-way_list-item-exit {
			background-image: url('../images/exit-marker.svg');
			background-repeat: no-repeat;
			background-position: 0px 3px;
			margin-left: -15px;
			padding-left: 22px;
		}
	}
}
.contacts__info_email {
	display: flex;
	flex-direction: column;
	gap: 5px;
	font-size: 100%;
	padding-top: 14px;
	text-align: left;
}

.contacts__info_email > a {
	font-weight: bold;
	text-decoration: underline;
}

.contacts__info_call-with-me {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 100%;
	width: 500px;
}

.contacts__info_call-with-me__tg,
.contacts__info_call-with-me__whatsapp {
	display: flex;
	align-items: center;
	gap: 16px;
	width: 190px;
}

.contacts__info_call-with-me__tg > a {
	color: #168fc0;
}
.contacts__info_call-with-me__whatsapp > a {
	color: #2db475;
}

.contacts__info_call-with-me__tg > a:hover {
	color: #45a5cd;
	transition: 0.3s;
}
.contacts__info_call-with-me__whatsapp > a:hover {
	color: #57c391;
	transition: 0.3s;
}

.contacts__info_call-with-me__tg > a:active {
	color: #12729a;
}
.contacts__info_call-with-me__whatsapp > a:active {
	color: #24905e;
}

.contacts__info_call-with-me__tg > a:not(:hover) {
	color: #168fc0;
	transition: 0.3s;
}

.contacts__info_call-with-me__whatsapp > a:not(:hover) {
	color: #2db475;
	transition: 0.3s;
}

.contacts__map {
	text-align: center;
	font-size: 100%;
	height: 520px;
	max-width: 50%;
}

.contacts__map > p {
	margin-top: 12px;
}

.contacts__map > img {
	height: 220px;
	width: 100%;
}

.contacts__map_laptop-map {
	display: block;
}

.contacts__map_mobile-map {
	display: none;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: space-around;

	color: #767676;
	background-color: #eeeeee;
	border-top: 0.5px solid #8a8a8a;
	width: 100%;
	height: 60px;
	font-size: 75%;
}

.burger {
	display: none;
}

@media (max-width: 768px) {
	.header__burger-btn {
		position: relative;
		width: 40px;
		height: 40px;
		border: none;
		background: #fff;
	}

	.header__burger-btn span {
		position: absolute;
		width: 30px;
		height: 2px;
		background: #000;
		left: 5px;
	}

	.header__burger-btn span:nth-child(1) {
		transform: translateY(-10px);
	}

	.header__burger-btn span:nth-child(3) {
		transform: translateY(10px);
	}

	.menu.open .header__burger-btn span:nth-child(1) {
		transform: translateY(0) rotate(45deg);
		transition: .5s;
	}

	.menu.open .header__burger-btn span:nth-child(2) {
		opacity: 0;
		
	}

	.menu.open .header__burger-btn span:nth-child(3) {
		transform: translateY(0) rotate(-45deg);
		transition: .5s;
	}

	.menu .header__burger-btn span:nth-child(1) {
		
		transition: .5s;
	}

	.menu .header__burger-btn span:nth-child(2) {
		transition: .5s;
		
	}

	.menu .header__burger-btn span:nth-child(3) {
		transition: .5s;
	}

	.main.open {
		display: none;
	}

	.header {
		max-width: 100%;
	}
	.main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 100px;
	}
	html {
		max-height: 100%;
		margin: 0;
		padding: 0;
	}
	.container {
		margin-top: 220px;
		max-width: 100%;
		background-image: none;
		height: 600px;
	}

	.bg-adaptive {
		display: block;
	}

	.content {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 20px;
		flex-direction: column;
		margin-left: 0px;
		margin-top: -220px;
	}

	.content__title {
		position: absolute;
		top: 80px;
		text-align: center;
		font-size: 125%;
		max-width: 94%;
	}

	.menu__list {
		position: absolute;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 30px;
		top: -855px;
		width: 100%;
		height: 600px;
		background: #fff;
		transition: 0.9s;
		z-index: 4;
	}

	
	.menu__item address {
		text-align: center;
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	.questions__icons {
		flex-direction: column;
		gap: 30px;
	}

	.submenu__list {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		width: 100%;
		gap: 20px;
		& > .submenu__item {
			width: 100%;
		}
		& .submenu__link {
			width: 400px;
			padding: 10px 0px;
			height: 50px;
		}
		& .submenu__link:hover {
			background-color: #f4f0ef;
			transition: .3s;
			color: black;
			
		}
	}

	.logo__text {
		display: none;
	}

	.logo {
		position: relative;
		z-index: 2;
	}

	.menu {
		display: flex;
		gap: 0px;
		font-size: 28px;
	}

	.menu.open {
		position: fixed;
		display: flex;
		justify-content: center;
		width: 100%;
		z-index: 1;
		background-color: #fff;
	}

	.menu.open .menu__list {
		position: fixed;
		transition: 0.6s;
		transform: translateY(154.8%);
	}

	.main.open .content__title {
		z-index: 0;
	}
	
	.questions {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 5px;
		width: 800px;
	}

	.content__subtitle {
		font-size: 20px;
	}
	.btn {
		position: relative;
		top: 250px;
		left: -225px;
	}
	.menu svg {
		transform: scale(1.5);
		margin: 0 10px;
	}

	.menu__item address {
		width: inherit;
	}

	.contacts {
		flex-direction: column;
		max-width: 100%;
		height: 1200px;
	}
	.contacts__container {
		flex-direction: column;

		justify-content: center;
	}
	.contacts__info_title {
		text-align: center;
	}
	.contacts__info_call-with-me {
		flex-direction: column;
		width: inherit;
		align-items: flex-start;
	}
	.contacts__map_laptop-map {
		display: none;
	}
	.contacts__map_mobile-map {
		display: block;
	}
	.footer {
		width: 100%;
	}
}
