*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	box-sizing: inherit;
}

body {
	font-family: 'Exo 2';
	font-weight: 400;
	font-size: 20px;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: black;
	display: block;
}

.green__text {
	color: #1f8e30;
}

.menu {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 4px;
}

.menu__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 15px;
	width: 1000px;
	font-size: 14px;
}

.submenu__list {
	display: flex;
	gap: 15px;
	width: 242px;
	align-items: center;
}

.logo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 500px;
}

.logo__title {
	margin-left: 40px;
	font-size: 28px;
}

.logo__text {
	margin-right: 0px;
	font-size: 14px;
	width: 170px;
	line-height: 17px;
	margin-top: 10px;
}

.questions__icons {
	display: flex;
	align-items: center;
	gap: 7px;
	width: 236px;
}

.questions {
	line-height: 17px;
}

address {
	font-style: normal;
	text-align: right;
	width: 220px;
}

.number {
	font-size: 22px;
	font-weight: bold;
}

.mail {
	text-decoration: underline;
}

.container {
	width: 100%;
	height: 609px;
	border: 1px solid #8a8a8a;
	background-image: url(/images/bg.png);
	background-position: 380px 0px;
	background-repeat: no-repeat;
	background-size: 1070px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content {
	margin-left: -120px;
	margin-top: 14px;
	max-width: 600px;
	flex-direction: column;
}

.content__title {
	line-height: 38px;
}

.content__subtitle {
	padding: 30px 0;
}

.content__list {
	font-size: 16px;
	margin-left: 62px;
}

.content__list__item {
	margin-bottom: 0px;
	line-height: 19px;
}

.content__list__item:nth-child(1) {
	margin-top: -24px;
}

.list__first {
	position: relative;
	left: -73px;
	top: 40px;
	font-size: 34px;
}

.marker {
	position: relative;
	height: 20px;
	z-index: 100;
	left: -63px;
	top: 38px;
}

.list__second {
	position: relative;
	left: -73px;
	top: 40px;
	font-size: 34px;
}

.btn {
	position: relative;
	left: -150px;
	top: 85px;
	height: 140px;
	width: 140px;
	font-weight: bold;
	color: white;
	border: 0px;
	background-color: #1f8e30;
	border-radius: 100px;
	& > a {
		color: white;
	}
}

.my_team {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	gap: 30px;
}

.my_team__title {
	width: 100%;
	margin-top: 70px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 32px;
	font-weight: 700;
}

.my_team__desc {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1100px;
	flex-flow: row wrap;
	gap: 20px;
}

.my__team_cards {
	width: 280px;
	height: 190px;
	border-radius: 5px;
	border: 1px solid #d9d9d9;
	background-color: #f5f5f5;
	padding: 30px 30px;
}

.my__team_cards p {
	font-size: 16px;
	line-height: 20px;
}

.my_team__pict {
	margin-top: -5px;
	margin-bottom: 5px;
	height: 35px;
}

.my_team__our_pict img {
	height: 460px;
	border-radius: 5px, 5px, 0px, 0px;
}
