*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	box-sizing: inherit;
}

body {
	font-family: 'Exo 2';
	font-weight: 400;
	font-size: 20px;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: black;
	display: block;
}

.green__text {
	color: #1f8e30;
}

.menu {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 4px;
	padding-bottom: 10px;
	border-bottom: 1px solid #8a8a8a;
}

.menu__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 19px;
	max-width: 1000px;
	font-size: 14px;
}

.submenu__list {
	display: flex;
	gap: 15px;
	width: 250px;
	align-items: center;
}

.submenu__link:hover {
	color: #827e7d;
	transition: 0.3s;
}

.submenu__link:not(:hover) {
	color: #000;
	transition: 0.3s;
}

.logo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 15px;
}

.logo__title {
	margin-left: 40px;
	font-size: 28px;
}

.logo__text {
	font-size: 14px;
	width: 170px;
	line-height: 14px;
	margin-top: 4px;
}

.questions__icons {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	gap: 7px;
	width: 220px;
}

.questions {
	line-height: 17px;
	width: 100px;
}

.icons {
	display: flex;
	gap: 5px;
}

.telegram-hover:hover circle {
	fill: #45a5cd;
	transition: 0.3s;
}

.telegram-hover:not(:hover) circle {
	fill: #168fc0;
	transition: 0.3s;
}

.telegram-hover:active circle {
	fill: #12729a;
}

.whats-app-hover:hover circle {
	fill: #57c391;
	transition: 0.3s;
}

.whats-app-hover:not(:hover) circle {
	fill: #2db475;
	transition: 0.3s;
}

.whats-app-hover:active circle {
	fill: #24905e;
}

.whats-app-hover:not(:hover) {
	color: #421414;
}

address {
	font-style: normal;
	text-align: right;
	width: 220px;
}

.number {
	font-size: 22px;
	font-weight: bold;
	&:hover {
		color: #827e7d;
		transition: 0.3s;
	}
	&:not(:hover) {
		color: #000;
		transition: 0.3s;
	}
}

.mail {
	text-decoration: underline;
	&:hover {
		color: #827e7d;
		transition: 0.3s;
	}
	&:not(:hover) {
		color: #000;
		transition: 0.3s;
	}
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 610px;
	background-image: url(/images/bg.png);
	background-position: 380px 0px;
	background-repeat: no-repeat;
	background-size: 1070px;
}

.content {
	margin-left: -110px;
	max-width: 600px;
	flex-direction: column;
}

.content__title {
	line-height: 38px;
}

.content__subtitle {
	padding: 30px 0;
}

.content__list {
	font-size: 16px;
	margin-left: 62px;
}

.content__list__item {
	margin-bottom: 0px;
	line-height: 19px;
}

.content__list__item:nth-child(1) {
	margin-top: -24px;
}

.list__first {
	position: relative;
	left: -73px;
	top: 40px;
	font-size: 34px;
}

.marker {
	position: relative;
	height: 20px;
	z-index: 100;
	left: -63px;
	top: 38px;
}

.list__second {
	position: relative;
	left: -73px;
	top: 40px;
	font-size: 34px;
}

.btn {
	position: relative;
	left: -150px;
	top: 85px;
	height: 140px;
	width: 140px;
	font-weight: bold;
	color: white;
	border: 0px;
	background-color: #1f8e30;
	border-radius: 100px;
	cursor: pointer;
	& > a {
		color: white;
	}
	&:hover {
		background-color: #4ba55b;
		transition: 0.3s;
	}
	&:not(:hover) {
		background-color: #1f8e30;
		transition: 0.3s;
	}
	&:active {
		background-color: #187228;
	}
}

.btn-hover {
	&:hover {
		background-color: #4ba55b;
		transition: 0.3s;
	}
	&:not(:hover) {
		background-color: #1f8e30;
		transition: 0.3s;
	}
	&:active {
		background-color: #187228;
	}
}

.my_team {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	gap: 30px;
	margin-bottom: 70px;
}

.my_team__title {
	width: 100%;
	margin-top: 70px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 32px;
	font-weight: 700;
}

.my_team__desc {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1100px;
	flex-flow: row wrap;
	gap: 20px;
}

.my__team_cards {
	width: 280px;
	height: 190px;
	border-radius: 5px;
	border: 1px solid #d9d9d9;
	background-color: #f5f5f5;
	padding: 30px 30px;
}

.my__team_cards p {
	font-size: 16px;
	line-height: 20px;
}

.my_team__pict {
	margin-top: -5px;
	margin-bottom: 5px;
	height: 35px;
}

.my_team__our_pict img {
	height: 460px;
	border-radius: 5px, 5px, 0px, 0px;
}

.administration__help_form {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 525px;
	background-image: url(/images/bg_help_form.jpg);
	background-size: 1530px;
	background-repeat: no-repeat;
}

.administration_container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
	width: 875px;
	margin-top: -65px;
}

.administration__card {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 15px;
	width: 250px;
	height: 450px;
	border: 1px solid black;
	text-align: center;
	margin-top: 50px;
	padding: 20px;
	background-color: #ffffff;
	border: 1px solid #d9d9d9;
}

.administration__image img {
	height: 220px;
}

.administration__name {
	font-size: 18px;
}

.administration__desc {
	font-size: 16px;
}

.administration__telephone {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	& > a > img {
		height: 16px;
	}
}

.help_form {
	margin-top: 50px;
	display: flex;
	gap: 10px;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 450px;
	background-color: #ffffff;
	border: 1px solid #d9d9d9;
}

.help_form__title {
	text-align: center;
	font-size: 16px;
	padding: 30px 10px 10px 10px;
}

.help_form__info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.help_form__info > .help_form__info_desc {
	font-size: 14px;
}

.help_form__info_desc > input {
	border: 1px solid #ababab;
	background-color: #ffffff;
	width: 270px;
	height: 50px;
	padding: 20px 15px;
	border-radius: 4px;
	margin: 5px 0px 0px 0px;
}

.help_form__info_desc > input::placeholder {
	color: #cdcdcd;
}

.help_form__button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
}

.help_form__button button {
	width: 270px;
	height: 50px;
	padding: 10px, 0px;
	background-color: #1f8e30;
	border: 0px;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}

.help_form__agree_desc {
	font-size: 10px;
}

.help_form__agree_desc {
	text-align: center;
	width: 270px;
}

.contacts {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 620px;
	margin-bottom: 30px;
	background-image: url(./images/contacts_bg.jpg);
	background-repeat: no-repeat;
}

.contacts__container {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 875px;
	gap: 10px;
}

.contacts__info {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	text-align: left;
	gap: 20px;
	max-width: 50%;
}

.contacts__info_title {
	font-size: 32px;
}

.contacts__info_numbers {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	gap: 5px;
	text-align: left;
	& > span {
		font-size: 16px;
	}
	& > a {
		font-weight: bold;
		font-size: 24px;
		min-width: 300px;
		& > img {
			height: 16px;
		}
	}
}

.contacts__info_address {
	max-width: 315px;
	font-size: 16px;
	& > p {
		margin-top: 8px;
	}
}

.contacts__info_metro-way {
	font-size: 16px;
	background-color: #fafafa;
	max-width: 320px;
	padding: 10px 20px;
	& > .contacts__info_metro-way_list {
		padding-left: 25px;
		& > .metro-way_list-item-green {
			list-style-image: url(./images/green-marker.png);
			padding: 0px 8px;
		}
		& > .metro-way_list-item-orange {
			list-style-image: url(./images/orange-marker.png);
			padding: 0px 8px;
		}
		& > .metro-way_list-item-gray {
			list-style-image: url(./images/gray-marker.png);
			padding: 0px 8px;
		}
		& > .metro-way_list-item-exit {
			background-image: url(./images/exit-marker.png);
			background-repeat: no-repeat;
			background-position: 0px 3px;
			margin-left: -15px;
			padding-left: 22px;
		}
	}
}

.contacts__info_email {
	display: flex;
	flex-direction: column;
	gap: 5px;
	font-size: 16px;
	padding-top: 14px;
	text-align: left;
	& > a {
		font-weight: bold;
		text-decoration: underline;
	}
}

.contacts__info_call-with-me {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 16px;
	width: 500px;
	& > .contacts__info_call-with-me__tg {
		display: flex;
		align-items: center;
		gap: 16px;
		width: 190px;
		& > a {
			color: #168fc0;
			&:hover {
				color: #45a5cd;
				transition: 0.3s;
			}
			&:active {
				color: #12729a;
			}
			&:not(:hover) {
				color: #168fc0;
				transition: 0.3s;
			}
		}
	}
	& > .contacts__info_call-with-me__whatsapp {
		display: flex;
		align-items: center;
		gap: 16px;
		width: 190px;
		& > a {
			color: #2db475;
			&:hover {
				color: #57c391;
				transition: 0.3s;
			}
			&:active {
				color: #24905e;
			}
			&:not(:hover) {
				color: #2db475;
				transition: 0.3s;
			}
		}
	}
}

.contacts__map {
	text-align: center;
	font-size: 16px;
	height: 520px;
	max-width: 50%;
	& > p {
		margin-top: 12px;
	}
	& > img {
		height: 220px;
		width: 100%;
	}
}

.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 340px;
	color: #767676;
	background-color: #eeeeee;
	border-top: 0.5px solid #8a8a8a;
	width: 100%;
	height: 60px;
	font-size: 12px;
}

.quiz {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 250px;
	height: 630px;
	max-width: 100%;
}

.quiz__container {
	display: flex;
	justify-content: center;
	gap: 50px;
	flex-direction: column;
	width: 500px;
	height: 500px;
}

.quiz__gray-bar {
	width: 100%;
	background-color: #d9d9d9;
	border-radius: 5px;
}

.quiz__green-bar {
	width: 20%;
	height: 5px;
	border-radius: 5px;
	background-color: #1e8e31;
	text-align: center;
	line-height: 30px;
	color: white;
}

.quiz__question-number {
	display: block;
	top: -30px;
	position: relative;
	font-size: 14px;
	color: black;
}

.quiz__container_title {
	margin-top: 10px;
	margin-bottom: -10px;
}

.quiz__menu {
	display: flex;
	flex-direction: column;
	gap: 20px;
	font-size: 16px;
}

.quiz__menu_item__radio {
	position: absolute;
	z-index: -1;
	opacity: 0;
	&:checked + .quiz__menu_item__answer {
		font-weight: bold;
	}
	& + .quiz__menu_item__answer {
		display: inline-flex;
		align-items: center;
		user-select: none;
	}

	& + .quiz__menu_item__answer::before {
		content: '';
		display: inline-block;
		width: 1em;
		height: 1em;
		border: 1px solid #adb5bd;
		border-radius: 50%;
		margin-right: 0.5em;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 50% 50%;
	}

	&:not(:disabled):not(:checked) + .quiz__menu_item__answer:hover::before {
		border-color: #b3d7ff;
	}

	&:not(:disabled):active + .quiz__menu_item__answer::before {
		background-color: #b3d7ff;
		border-color: #b3d7ff;
	}

	&:focus + .quiz__menu_item__answer::before {
		box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
	}

	&:focus:not(:checked) + .quiz__menu_item__answer::before {
		border-color: #80bdff;
	}

	&:checked + .quiz__menu_item__answer::before {
		border-color: #0b76ef;
		background-image: url('./images/radio.svg');
	}

	&:disabled + .quiz__menu_item__answer::before {
		background-color: #e9ecef;
	}
}

.quiz__buttons {
	display: flex;
	gap: 20px;
	margin-top: 30px;
	margin-left: 70px;
	font-size: 14px;
}

.quiz__buttons_next {
	color: #fff;
	padding: 12px 17px;
	background-color: #1e8e31;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	&:hover {
		filter: brightness(120%);
		transition: 0.3s;
	}
	&:not(:hover) {
		filter: brightness(100%);
		transition: 0.3s;
	}
	&:active {
		filter: grayscale(30%);
	}
}

.quiz__buttons_skip {
	color: #9b9b9b;
	border: none;
	background-color: #fff;
	cursor: pointer;
	&:hover {
		filter: brightness(110%);
		transition: 0.3s;
	}
	&:not(:hover) {
		filter: brightness(100%);
		transition: 0.3s;
	}
	&:active {
		filter: grayscale(100%);
	}
}

.quiz__advantages {
	display: flex;
	flex-direction: column;
	font-size: 15px;
	gap: 15px;
}

.quiz__advantages_card {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	padding: 15px;
	border: 1px solid #d9d9d9;
	border-radius: 5px;
}
